@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-RegularItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('@/assets/fonts/product-sans/ProductSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-color: #2b3e59;
  --header-height: 29.4vh;
  --content-margin-inline: 7.5%;
  --input-padding: 16px;
  --input-padding-left: 54px;
  --search-icon-size: 16px;
  --images-grid-column: 1fr;
}

@media screen and (min-width: 640px) {
  :root {
    --images-grid-column: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  :root {
    --content-margin-inline: 11.25%;
    --input-padding: 24px;
    --input-padding-left: 72px;
    --search-icon-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --images-grid-column: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1652px) {
  :root {
    --content-margin-inline: auto;
  }
}

* {
  font-family: "Product Sans", sans-serif;
  margin: 0;
}